
[Unit]
Description=Fusion Splicer Service

[Service]
StandardOutput=journal+console
StandardError=journal+console
Type=simple
#Environment=LD_LIBRARY_PATH=/mnt/data/usr/lib
#ExecStartPre=/usr/share/fusion-splicer-svc/start_fs.sh
ExecStart=/usr/bin/fusion-splicer-svc
