[Unit]
Description=Fusion Splicer Application
Conflicts=getty@tty1.service systemd-logind.service systemd-user-sessions.service rmnologin.service systemd-journal-flush.service dietsplash-quit.service systemd-timesyncd.service
Requires=fusion-splicer-svc.service

[Service]
StandardOutput=journal+console
StandardError=journal+console
Type=simple
Environment=XDG_RUNTIME_DIR=/run/user/root
Environment=QT_QPA_PLATFORM=linuxfb QT_QPA_FONTDIR=/usr/share/fonts/truetype QT_QPA_GENERIC_PLUGINS=evdevtablet,evdevmouse,evdevtouch
ExecStart=/usr/bin/fusion-splicer-app
#WorkingDirectory=/mnt/data/usr/share/fusion-splicer-app

[Install]
Alias=display-manager.service
